.*.swp
*.pyc
*.egg-info
.DS_Store
local_settings.py
update_settings.py
env
*mongodb*
backups/*
project/cms
sites/locationcars/static/uploads/*
sites/default/static/uploads/*
sites/default/ajax/*
project/cms
*~
london-cms/*
tornado/*
london/*
ping_update.py
build
src
*.idea*
*.idea/*
.project
.pydevproject
.settings/*
local_api.ini
local_api_settings.py
local_office.ini
local_public.ini
*.tern-port
.elasticbeanstalk/
.coverage
dist/
